# Django & DB
Django==5.2
dj-database-url==2.3.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
whitenoise==6.9.0

# Static/media processing
Pillow==8.3.2
imageio==2.37.0
opencv-python==4.6.0.66

# Other essentials
requests==2.32.3
urllib3==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.1
typing_extensions==4.12.2
